.MainSaleContainer{

  width: calc(100% - 20%);
  height: 500px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 100px;
  overflow: hidden;
}
.saleTitleContainer {
  width: auto;
  height: 100px;
  margin: 0 auto;
  padding: 5vw 100px 5vw 100px;
}
.eventImgContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition: 0.5s;
  
}
.eventImgInner img {
  width: 100%;
  height: auto;
  object-fit:fill;
  box-sizing: border-box;
}
.eventImgInner{
margin-right: 20px;
}


/* @media (max-width: 768px) {
  .progressBar-container{
    left:0;
    bottom: 50px;
    margin: 0 auto;
    width: 100vw;
  }
} */