.MainSaleContainer{
  position: relative;
  width: calc(100% - 200px);
  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 100px;
  overflow: hidden;
}
.saleTitleContainer {
  width: auto;
  height: 100px;
  margin: 0 auto;
  padding: 5vw 100px 5vw 100px;
}
.eventImgContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  transition: 0.5s;
  
}
.eventImgInner img {
  width: 100%;
  height: auto;
  object-fit:fill;
  box-sizing: border-box;
}
.eventImgInner{
margin-right: 20px;
}
.ButtonContainer {
  position: relative;
}
.ButtonContainer .imgRightButton{
  position: absolute;
  left: unset;
  right: 0;
  top: 0;
  width: 4%;
  height: 100%;
  background-color: transparent;
  padding-right: 3%;
  cursor: pointer;
}
.ButtonContainer .imgLeftButton{
  width: 4%;
  padding-left: 3%;

}
.ButtonContainer > .imgLeftButton > .imgButtonInner > .left-arrow > .fa,
.ButtonContainer > .imgRightButton > .imgButtonInner > .right-arrow > .fa{

  font-size: 2.5em;
  color: white;
}
/* @media (max-width: 768px) {
  .progressBar-container{
    left:0;
    bottom: 50px;
    margin: 0 auto;
    width: 100vw;
  }
} */