.MainImgInner img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
.MainImgContainer{
  width: 600vw;
  position: relative;
}
.MainImgInner {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

body{
  overflow-x: hidden;
} 

.progressBar-container{
  position: absolute;
  left: 3%;
  bottom: 13%;
  width: 400px;
  height: 12px;
  display: flex;
  flex-direction: row;
  line-height: 0;
  padding: 0px 2vw 0px 2vw;
}
.progressInner{
  width: 90%;
  height: 6px;
  position: relative;
  border: 1px solid #fff;
  margin-top: 3px;
}
.progressBar{
  position: absolute;
  left: 0;
  width: 50%;
  max-width: 100%;
  height: 100%;
  background: white;
  transition: 0.7s;
}
.stopButton{
  width: 5%;
  height: 10px;
  font-size: 14px;
  color: #fff;
  
}

.stopButton .fa{
  cursor: pointer;
  margin-left: 10px;

}


@media (max-width: 768px) {
  .progressBar-container{
    left:0;
    bottom: 50px;
    margin: 0 auto;
    width: 100vw;
  }
  #root {
    overflow-x: hidden;
  }
}