@media (max-width: 768px) {
  .navContainer {
    height: 50px;
  }
  .logoimg {
    width: 200px;
    height: 50px;
  }
  .navItem {
    display: none;
  }
  .MainImgContainer {

    width: 100%;

  }

  .MainImgContainer img {
    object-fit: cover;
    height: 500px;
  }
  .trigger {
    display: block;
    width: 24px;
    height: 16px;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .trigger span {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
  }

  .trigger span:nth-child(1) {
    top: 0;
  }
  .trigger span:nth-child(2) {
    top: 50%;
  }
  .trigger span:nth-child(3) {
    top: 100%;
  }
}